div.componentSelector {
    height: 50%;
    /* background-color: rgb(145, 130, 130); */
    flex-wrap: wrap;
    overflow-y: auto;
    align-items: center;
    justify-content: center;
    display: flex;
}

.selectedItemInfo {
    height: 10%;
    border-style: solid;
    border-top-width: 2px;
    border-bottom-width: 2px;
    border-left-width: 0px;
    border-right-width: 0px;
    border-top-color: black;
    border-bottom-color: black;
    border-left-color: rgba(0, 0, 0, 0);
    border-right-color: rgba(0, 0, 0, 0);
    box-sizing: border-box;
}

.controlPanel {
    height: 40%;
    /* background-color: rgb(145, 130, 130); */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1px;
}

.infoLine {
    height: 50%;
    display: flex;
    align-items: center;
    margin-left: 1%;
    flex-direction: row;
}

.paramGroup {
    width: 30%;
    gap: 1%;
    display: flex;
    justify-content: center;
    font-size: 0.9rem;
}

.controlLine {
    height: 14%;
    width: 90%;
}
