body {
    margin: 0;
    height: 100vh;
    width: 100vw;
}

div#root {
    display: flex;
    height: 100%;
    width: 100%;
}

div.MainBody {
    display: flex;
    flex-direction: row;
    width: 100%; /* 或你想要的宽度 */
    column-gap: 1vh;
    margin: min(16px, 2vh);
    /* height: calc(100% - margin * 2); */
}

div.ReactorGridCodeStats {
    display: flex;
    flex: 20 1 0%;
    column-gap: 1vh;
    flex-direction: column;
}

div.ReactorSide {
    display: flex;
    flex: 9 1 0%;
    background: #c0c0c0;
    flex-direction: column;
}

div.ReactorGrid {
    flex: 50 1 0%;
    background: #e0e0e0;
    gap: 1px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

div.ReactorCode {
    flex: 3 1 0%;
}

div.ReactorStats {
    flex: 30 1 0%;
    background: #a0a0a0;
    height: 0;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

#changeLang {
    position: absolute;
    right: 0px;
    bottom: 0px;
    width: max(1vh, 40px);
    height: max(1vh, 40px);
    fill: none;
    stroke-width: 1.5;
    stroke: currentColor;
    cursor: pointer;
}
